.title {
  font-size: clamp(2.5rem, 4vw, 3rem);
}
.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
